table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

form {
	text-align: center;

}

p {
	text-align: center;
}

h1 {
	text-align: center;
	padding: 10px;
	background-color: #578234;
}

